{% extends './plantilla.html' %}
{% block contenido %}
<br>
<h1>Listado de Reportes de Rescate</h1>
<a href="/nuevoReporte" class="btn btn-primary">Agregar Reporte</a>

<table class="table table-bordered table-striped table-hover" id="tbl_reportes">
    <thead>
        <tr>
            <th>ID</th>
            <th>OBSERVACIONES</th>
            <th>DOCUMENTO</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        <script>
            function eliminarReporte(id){
                Swal.fire({
                    title: "CONFIRMACIÓN",
                    text: "¿Deseas eliminar este reporte?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Sí, eliminar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "/eliminarReporte/" + id;
                    }
                });
            }
        </script>

        {% for reporte in reportes %}
        <tr>
            <td>{{ reporte.id }}</td>
            <td>{{ reporte.observaciones }}</td>
            <td>
                {% if reporte.reporte_pdf %}
                    <a href="{{ reporte.reporte_pdf.url }}" download>{{ reporte.reporte_pdf.name }}</a>
                {% else %}
                    Ningún documento
                {% endif %}
            </td>
            <td>
                <a href="/editarReporte/{{ reporte.id }}" class="btn btn-outline-warning"><i class="fa fa-pen"></i></a>
                <a href="#" onclick="eliminarReporte('{{ reporte.id }}');" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    new DataTable('#tbl_reportes', {
        language: {
            "search": "Buscar:",
            "lengthMenu": "Mostrar _MENU_ entradas",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
            "paginate": {
                "next": "Siguiente",
                "previous": "Anterior"
            },
            "zeroRecords": "No se encontraron registros",
            "infoEmpty": "No hay datos disponibles",
        }
    });
</script>
{% endblock %}
